.main-section {
    justify-content: center;

    @include xxl {
        justify-content: space-between;
    }

    @include sm {
        flex-direction: column;
    }


}

.main-section>* {
    flex-basis: 50%;
}


.main-content-wrap {
    flex-direction: column;
    align-items: flex-start;

    @include sm {
        order: 2;
        margin-top: 1rem;
    }
}

.main-sub-heading {
    font-weight: 500;
    font-size: 2.5rem;

    @include xxl {
        font-size: 2rem;
    }

    @include bp(700px) {
        font-size: 1.5rem;
    }
}

.main-btn {
    @include lg {
        font-size: 1.1rem;
    }

    @include md {
        font-size: 1rem;
    }

    @include main-btn-hover 
}