.section-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;

    .section-col {
        display: flex;
    }

    @include xl {
        margin: 2rem 0;
    }

}